{% extends "layout.html" %}
{% block title %}Login - Biblioteca Digital{% endblock %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-4">
        <div class="card p-4">
            <h2 class="text-center mb-4">Entrar</h2>
            <form action="{{ url_for('auth.login') }}" method="POST">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" name="email" id="email" class="form-control" required placeholder="admin@empresa.com">
                </div>
                <div class="mb-3">
                    <label for="senha" class="form-label">Senha</label>
                    <input type="password" name="senha" id="senha" class="form-control" required>
                </div>
                <button type="submit" class="btn btn-primary w-100">Entrar</button>
            </form>
            <div class="text-center mt-3">
                <p>Não tem uma conta? <a href="{{ url_for('auth.cadastro_view') }}">Cadastre-se como Leitor</a></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
